.primary {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    background-color: #009879;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.button1{
    display:inline-block;
    padding:1em 2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align:center;
    transition: all 0.2s;
    }

.button1:hover{
    background-color:#4095c6;
}

@media all and (max-width:30em){
.button1{
    display: block;
    margin: 0.2em auto;
    }
}